@use '@/assets/scss/rules' as *;
// 列表标题样式
.list-title {
  @include fontStyle(2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 搜索栏样式
.search-bar {
  @include searchBarStyle;
}
// 路由容器样式
.router-container {
  > div {
    @include wh;
  }
}
// 页面容器样式
.page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
// 表格按钮样式
#rdappTable {
  .action {
    @include flexCenter(left, center, false, wrap);
    gap: pxToRem(8);
    padding: pxToRem(8) 0;

    .hidden {
      display: none !important;
    }
  }
}

// 系统卡片样式
.system-card {
  @include foregroundStyle;
  @include flexCenter(false, false, false);
  flex-direction: column;
  width: 100%;
  padding: pxToRem(20);
  gap: pxToRem(20);

  .system-card-title {
    width: 100%;
    @include fontStyle(2);
    border-bottom: 1px solid rgba(var(--blue), 0.2);
    padding-bottom: pxToRem(20);
  }

  .system-card-content {
    width: 100%;
    flex: 1;
  }
}

// 隐藏元素样式
.hidden {
  display: none !important;
}

// 树结构暂无子节点样式
.el-tree {
  .el-tree-node {
    // 当节点包含noChild时，隐藏同级的is-leaf图标
    &:has(.noChild) {
      .is-leaf {
        display: none;
      }
    }
  }
}

.noChild {
  flex: 1;
  user-select: none;
  @include flexCenter(center, center, false, false);
  padding: pxToRem(12);
  @include fontStyle(5);
  color: rgb(var(--gray));
  cursor: not-allowed;
}

// 图表项
.chart-item {
  border-radius: 12px;
  border: 1px solid var(--foreBorderColor);
  background: var(--foregroundColor);
  box-shadow: var(--foreShadowColor);
  padding: 1rem;
  height: 400px;

  .chart-title {
    margin-bottom: 1rem;
    overflow: hidden;
    color: var(--textColor-1);
    text-overflow: ellipsis;
    font-family: "Microsoft YaHei UI";
    font-size: var(--fontSize-2);
    font-style: normal;
    font-weight: var(--fontWeight-2);
    line-height: var(--fontLineHeight-2);
    text-align: left;
  }
}

// 分割线组件样式
.el-divider {
  background-color: rgba(var(--white), 0.2);
  @include lightTheme {
    background-color: rgba(var(--color), 0.2);
  }
}