@function pxToRem($px) {
  @return calc($px / 16 * 1rem);
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$primary-color: var(--el-color-primary);
$success-color: var(--el-color-success);
$warning-color: var(--el-color-warning);
$danger-color: var(--el-color-danger);
$info-color: var(--el-color-info);
