cache=.npm
engine-strict=true
strict-ssl=false
legacy-peer-deps=true

# 按作用域配置镜像
@rdapp:registry=http://registry.npm.rdapp.com/
registry=http://registry.npm.rdapp.com/

# 镜像下载地址配置
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
phantomjs_cdnurl=https://registry.npmmirror.com/-/binary/phantomjs/
