@use '../rules' as *;

.el-switch {
  height: pxToRem(28);
  .el-switch__label {
    @include fontStyle(5);
    color: var(--textColor-3);

    &.is-active {
      color: colorValue(color, 1);
    }
  }
  .el-switch__core {
    height: pxToRem(28);
    width: pxToRem(48) !important;
    border-radius: pxToRem(100);
    background: rgba(194, 202, 209, 0.3);
    border-color: rgba(194, 202, 209, 0.3);
    &:after {
      width: pxToRem(20);
      height: pxToRem(20);
      top: pxToRem(3);
      left: pxToRem(3);
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    }
  }
  &.is-checked .el-switch__core {
    border-color: rgb(var(--color));
    background-color: rgb(var(--color));
    &:after {
      margin-left: pxToRem(-23);
    }
  }
}
